

body{
    background-image: image-set(media/StarwarsWallpapper.jpg);
    background: grey; 
    color: white; 
    text-align: center;   
}
h1{
    color: orange;
    text-size-adjust: 1500;
    
}
footer{
    background-size: 100%;
    padding-block: 100%;
    background: orange;
    color: white;

    
} 